<div class="container">
  <div class="input-container">
    <ul>
      <li>Piyush has friends as puneet and mahima</li>
      <li>Puneet has friends as mahima ,ira,poorva</li>
      <li>Mahima has friends as piyush ,puneet,poorva</li>
      <li>Poorva has friends as mahima ,ira,puneet</li>
      <li>ira has friends as puneet,poorva,satish</li>
      <li>satish has only friend by the name ira</li>
    </ul>
    <div class="input-list">
      <div class="input-one">
        <div class="form-group">
          <label for="userName1">User1:</label>
          <input
            [(ngModel)]="userName1"
            placeholder="User name"
            name="userName1"
            class="form-control"
            id="userName1"
          />
        </div>
      </div>
      <div class="input-two">
        <div class="form-group">
          <label for="userName2">User2:</label>
          <input
            [(ngModel)]="userName2"
            placeholder="User name"
            name="userName2"
            class="form-control"
            id="userName2"
          />
        </div>
      </div>
    </div>
    <div class="form-group submit">
      <button
        type="submit"
        (click)="onSubmit()"
        mat-raised-button
        color="accent"
      >
        submit
      </button>
    </div>
    <div>
      <span style="font-weight: bold">{{ result }}</span>
    </div>
  </div>
</div>
